<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Zodkoo | Bootstrap Landing Template</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="A fully responsive landing page template" name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <link rel="shortcut icon" href="/app/components/home/con-web/images/favicon.ico">

        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="/app/components/home/con-web/css/bootstrap.min.css" rel="stylesheet">

        <!-- Font Icons CSS -->
        <link href="/app/components/home/con-web/css/pe-icon-7-stroke.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="/app/components/home/con-web/css/style.css" rel="stylesheet">

        <!-- Color style -->
        <link href="/app/components/home/con-web/css/colors/default.css" rel="stylesheet">


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
        <!--[if lt IE 9]>
          <script src="js/html5shiv.js"></script>
          <script src="js/respond.min.js"></script>
        <![endif]-->

    </head>


    <body data-spy="scroll" data-target="#navbar-menu">

       <!-- Navbar -->
        <div class="navbar navbar-custom navbar-fixed-top sticky" role="navigation" id="sticky-nav">
            <div class="container">

                <!-- Navbar-header -->
                <div class="navbar-header">

                    <!-- Responsive menu button -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- LOGO -->
                    <a class="navbar-brand logo" style="padding-top: 0px;" href="index.html">
                        <img style="width:125px;" class="img-responsive" src="/tvc-logo-all-white.png">
                    </a>

                </div>
                <!-- end navbar-header -->

                <!-- menu -->
                <div class="navbar-collapse collapse" id="navbar-menu">

                    <!-- Navbar left -->
                    <ul class="nav navbar-nav nav-custom-left">
                        <li class="active">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li>
                            <a href="/faq" class="nav-link">FAQ</a>
                        </li>
                        <li><a href="/drivers">Drive</a></li>

                    </ul>

                    <!-- Navbar right -->
                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <button ng-click="dashpage()" type="button" class="btn btn-white-fill navbar-btn-alt">Try Now</button>
                        </li>
                    </ul>

                </div>
                <!--/Menu -->
            </div>
            <!-- end container -->
        </div>
        <!-- End navbar-custom -->

<br>
        <br>

        <!-- Contact Form -->
        <section class="section">
            <div class="container">

                <div class="row text-center">
                    <div class="col-sm-12">
                        <h3 class="title">Please Reset Password</h3>
                        <p class="text-muted sub-title">Please enter the 4 digit code we have given you and create a new password for your account</p>
                        
                    </div>
                </div> <!-- end row -->

                <div class="row text-center">

                    <!-- Contact form -->
                    <div class="col-sm-6 col-sm-offset-3">
                        <form role="form" name="ajax-form" id="contact-form"
                              action="https://formsubmit.io/send/25ef0582-389f-43ac-9647-66fa33264758" method="post"
                              class="contact-form" data-parsley-validate novalidate>

                            <div class="form-group">
                                <input ng-model="homeContact.email" class="form-control" id="email2" name="email" type="email" placeholder="Your 4 digit code" value="" parsley-trigger="change" required>
                            </div>
                            <div class="form-group">
                                <input ng-model="homeContact.email" class="form-control" id="email2" name="email" type="email" placeholder="Your new password" value="" parsley-trigger="change" required>
                            </div>
                            <div class="form-group">
                                <input ng-model="homeContact.email" class="form-control" id="email2" name="email" type="email" placeholder="Confirm your new password" value="" parsley-trigger="change" required>
                            </div>
                            <!-- /Form-email -->

                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="success-form" class="text-success" style="display: none;">E-mail was successfully sent.</div>
                                    <div class="error text-center" id="err-form"></div>
                                    <div class="text-center">
                                        <button ng-click="homeContactsubmit()" type="submit" class="btn btn-custom" id="send">Submit</button>
                                    </div>
                                </div> <!-- /col -->
                            </div> <!-- /row -->
                            <br>
                            <p class="text-muted sub-title">If you are successful you will be taken to the homepage so you can log back in with your new details</p>

                        </form> <!-- /form -->
                    </div> <!-- end col -->


                </div> <!-- end row -->

            </div> <!-- end container -->
        </section>
        <!-- End Contact Form -->

        <!-- FOOTER -->
       <footer class="section bg-gray footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h5>Thefleetclub</h5>
                        <ul class="list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/drivers">Drive</a></li>
                            <li><a href="/faq">FAQ</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>Social</h5>
                        <ul class="list-unstyled">
                            <li><a href="https://www.facebook.com/thevanclubUK">Facebook</a></li>
                            <li><a href="https://twitter.com/thevanclubUK">Twitter</a></li>

                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>Support</h5>
                        <ul class="list-unstyled">
                            <li><a href="/customer-terms">Terms & Conditions</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h5>Contact</h5>
                        <address>

                            E: <a href="/contact">hello@fleetclub.io</a>
                        </address>
                    </div>

                </div> <!-- end row -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="footer-alt text-center">
                            <p class="text-muted m-b-0">2017 © Thefleetclub</p>
                        </div>
                    </div>
                </div> <!-- end row -->

            </div> <!-- end container -->
        </footer>
        <!-- END FOOTER -->


        <!-- Back to top -->
        <a href="#" class="back-to-top" id="back-to-top"> <i class="pe-7s-angle-up"> </i> </a>


        <!-- js placed at the end of the document so the pages load faster -->
        <script src="/app/components/home/con-web/js/jquery-2.1.4.min.js"></script>
        <script src="/app/components/home/con-web/js/bootstrap.min.js"></script>

        <!-- Jquery easing -->
        <script type="text/javascript" src="/app/components/home/con-web/js/jquery.easing.1.3.min.js"></script>

        <!--sticky header-->
        <script type="text/javascript" src="/app/components/home/con-web/js/jquery.sticky.js"></script>

        <!-- parsley - form validation -->
        <script type="text/javascript" src="/app/components/home/con-web/js/parsley.min.js"></script>

        <!--common script for all pages-->
        <script src="/app/components/home/con-web/js/jquery.app.js"></script>

    </body>
</html>
